PORT=3001
RPC_URL=https://api.devnet.solana.com
PROXA_NETWORK=devnet
KEEPER_KEYPAIR=~/.config/solana/id.json
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
ADMIN_API_KEY=
TXODDS_API_BASE=
TXODDS_GUEST_JWT=
TXODDS_API_KEY=
